// vim: set ts=8 sts=2 et sw=2 tw=99:
//
// Definitions for basic page arrangement.

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $background-color;
  color: $default-color;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: $default-color;
}

.flexbox {
  display: flex;
  height: 100%;
  flex-flow: column;
}

#oplurl {
  color: $primary-color;
}

div.topbar {
  position: fixed;
  width: 100%;
  height: $topbar-height;
}

div.topbar-without-controls {
  position: fixed;
  width: 100%;
  height: $header-height;
}

div.content {
  padding-top: $topbar-height;
}

// Gross workaround to make things look semi-OK on text-based pages
// until we figure out a real CSS template.
div.mixed-content {
  padding: $header-height 20px 20px 20px;
  font-size: 10pt;
}
div.mixed-content-with-controls {
  padding: $topbar-height 20px 20px 20px;
  font-size: 10pt;
}

div.text-content {
  padding: $topbar-height 20px 20px 20px;
  max-width: 800px;
  text-align: left;
  font-size: 10pt;
}

@media (max-width: $breakpoint-tablet) {
  div.text-content {
    padding: 0 20px 20px 20px;
    max-width: 800px;
    text-align: left;
    font-size: 11pt;
  }

  div.mixed-content-with-controls {
    padding: 0 20px 20px 20px;
    font-size: 11pt;
  }
}

.downloadbar {
  display: flex;
  flex-direction: row;
}

.downloaditem {
  border: 1px;
  border-color: lime;
  border-style: solid;
  padding: 10px;
  margin-right: 10px;
}

li {
  margin-bottom: 10px;
}

.fa-resize {
  font-size: 14px;
}

.instagram {
  margin-left: 6px;
  vertical-align: middle;
}

h2 {
  color: $primary-color;
}

// This is for informational text at the bottom of the screen
// on some pages. It can probably be removed.
.info {
  font-size: 10pt;
  padding: 5px 20px 5px 20px;
}

.hide {
  display: none !important;
}
