.lifter-social-media {
  a {
    text-decoration: none;
  }
}

@media (max-width: $breakpoint-tablet) {
  div.mixed-content {
    padding-top: 0;

    h1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 22px;
    }
    h2 {
      font-size: 18px;
    }
  }


  #lifterTopTable {
    display: block;
    width: 100%;
    overflow-x: scroll;
    padding: 0;
  }

  #lifterCompetitionTable {
    display: block;
    width: 100%;
    overflow-x: scroll;
    padding: 0;

    .meet-list-date {
      display: inline-block;
      width: 75px;
      line-height: 21px;
    }

    .meet-list-name {
      width: 200px;
      display: inline-block;
      line-height: 21px;
      height: auto;
    }
  }
}
