// vim: set ts=8 sts=2 et sw=2 tw=99:
// The mobile version uses a footer instead of a header.

// This includes both the content and the footer.
#mobile-wrapper {
  height: 100%;
  position: relative;
}

// The contents of the wrapper that aren't the footer.
#mobile-content {
  padding-bottom: $footer-height;
}

// The footer with controls fixed at the bottom of the screen.
footer {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  position: fixed;
  bottom: 0;

  height: $footer-height;
  width: 100%;

  // This is a hack to get the footer to always be above the SlickGrid.
  z-index: 1;

  color: $control-text-color;
  background-color: $control-bar-background-color;
}

$footer-icon-size: 40px;

footer > .footer-hamburger {
  display: block;
  width: $footer-icon-size;
  height: $footer-icon-size;
  position: absolute;
  left: 5px;
  font-size: 20pt;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  color: $control-text-color;
}

footer > #controls-mobile-toggle-button {
  display: block;
  width: $footer-icon-size;
  height: $footer-icon-size;
  position: absolute;
  right: 8px;
  padding: 0px;
  border: none;
  background: url($control-mobile-filter-icon) 96% no-repeat $control-text-color;
  background-color: transparent;
  background-size: 100%;
}

footer > .mobile-header-logo-link {
  display: block;
  width: 100px;
  margin: auto;

  .header-logo {
    width: 100%;
  }
}

footer > #footerSearchContainer {
  display: flex;
  align-items: center;
  width: 240px;
  margin: auto;

  #searchfield {
    font-size: 14pt;
    width: 180px;
    height: 20px;
    outline: none;

    &:focus {
      box-shadow: 0 0 5px $control-border-color;
      border: 1px solid $control-border-color;
    }
  }

  #searchbutton {
    background: url($mobile-search-icon) 96% no-repeat $control-text-color;
    background-color: $control-background-color;
    background-size: 61%;
    width: 35px;
    height: 35px;
    display: block;
    background-position: center;
  }
}

#mobile-menu-popup {
  position: fixed;
  bottom: $footer-height;
  left: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  padding-bottom: 10px;
  overflow-y: scroll;

  #footer-mobile-menu-selectors {
    text-align: center;
  }

  .nav__link_mobile {
    display: block;
    width: 100%;
    padding: 10px 0px;
    text-decoration: none;
    text-align: center;
  }
}
