#selectedFilters {
  display: none;
}

@media (max-width: $breakpoint-tablet) {
  div.mixed-content-with-controls {
    padding-top: 0px;
  }
  #selectedFilters {
    display: block;

    .selected-filter {
      display: inline-block;
      background: $table-header-background-color;
      margin: 3px;
      border-radius: 23px;
      font-size: 11px;
      text-align: center;
      padding: 1px 3px 4px 3px;
    }
  }

  .records-col {
    h2 {
      margin-top: 5px; 
    }
    table {
      display: block;
      overflow-x: scroll;
      padding: 0;
      table-layout: fixed;

      .weight-class-header,
      .weight-class-place {
        max-width: 30px;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }

      .lifter-name-link {
        display: inline-block;
        min-width: 200px;
        height: auto;
        line-height: 21px;
      }

      .lifter-date-link {
        display: inline-block;
        min-width: 100px;
      }
    }
  }
}
